.body{
    margin: 0;
}

@media only screen and (max-width: 600px)
{
   .main-nav{
        font-size:0.1em;
        padding:0;
    }
}

.zone {
/*    padding:30px 50px;
    margin:40px 60px;
*/    cursor:pointer;
    color:#fff;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
/*Navigation Bar*/
.main-nav{
    display: flex;
    list-style: none;
    font-size: 0.7em;
    font-family: arial;
    margin: 0;
}
@media only screen and (max-width: 600px)
{
   .main-nav{
        font-size:0.5em;
        padding:0;
    }
}
li{
    padding: 20px;
}
a{
    text-decoration: none;
    color:white;
}
.right{
    margin-left: auto;

}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
/*Slider/banner*/
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh; /*vh= viewport height*/
}

img{
    height: 300px;
    width: 200px;
}

/*portfolio*/
.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); /*minimum 300px ajaen to 1frame par ajae*/
    grid-gap: 20px;
}

.box{
    background-color: #555;
    padding: 30px;
    margin: 20px;
}

.pics:hover{
    transform:scale(1.5);
}

.green{
    background: #669999;
    }
.red{
    background: #C655BE;
    }
.yellow{
    background: #F3AAAA;
    }

.blue{
    background: #7abcff;     }
